@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*, *:before, *:after{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.main{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 1000px;
  background: url(img/bg_banner.png) no-repeat center ;

}
.main-overlay{
  background-color: rgb(18, 134, 227);
  opacity: 0.1;
  position: absolute;
  left: 0px;
  top: 0px;


  z-index: 1;
}
.header{
  position: fixed;
  font-family: 'Montserrat';
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
padding-left: 15%;
padding-right: 15%;
  position: absolute;
  z-index: 2;
}
.logo{
font-size: 36px;
font-weight: 400;
text-decoration: none;
color: white;
}
nav {
  width: 60%;


}
.line {
  display: flex;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  height: 1px;

}

nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  }
nav ul li {
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
}
.menu-link{
  color: white;
  text-decoration: none;
}
.main-text{

  justify-content: center;
  align-items: flex-end;
  margin-left: 15%;
  margin-top: 15%;
  top: auto;
  width: 653px;
  font-family: 'Raleway';
  position: absolute;
  z-index: 2;
  text-align: left;
}
.main_h1{
  font-size: 54px;
  font-family: 'Raleway',sans-serif ,serif;
  font-weight: lighter;
}
.main_h1_bold{
  font-weight: bold;
}
.main_par{
  padding-top: 5%;
  width: 653px;
  font-size: 16px;
  font-family: 'Raleway', serif,sans-serif;
  font-weight: 400;
}
.main_central_buttom{
  padding-top: 5%;

}
.main_central_buttom ul{
padding: 0;
display: flex;
list-style: none;


  }
.main_central_buttom ul li {
  font-size: 16px;
  margin-right: 4.5%;
  }
.butt-2{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 90px;
  border: 1px solid white;
  padding: 20px 35px;

}
.butt-2:hover{
  background-color: rgb(255, 255, 255);
  color: #2095f2;
}
.phone-hand{
  width: 529px;
  margin: 0px;
  position: absolute;
  bottom: 0;
  right: 5%;

}
.main_icon{
	position: absolute;
	bottom: 5px;
	text-align: center;
}
.icon_style_3{
padding: 10px;
width: 70px;
height: 60px;
background-color: #ffffff;
font-size: 24px;
color: #2095f2;

}
